{
    "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react",
        "stage-0"
    ],
    "plugins": [
        ["import", {
          "libraryName": "antd",
          "libraryDirectory": "es",
          "style":true
        }],
      [
        "transform-runtime",
        {
          "helpers": false,
          "polyfill": false,
          "regenerator": true,
          "moduleName": "babel-runtime"
        }
      ],
        "transform-async-to-generator",
        "transform-strict-mode",
        "transform-object-assign",
        "transform-decorators-legacy",
        "syntax-dynamic-import"
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        }
    }

}