.pb-s { padding-bottom: 0.25rem !important;  }
.pb-m { padding-bottom: 0.5rem !important;  }
.pb-l { padding-bottom: 1rem !important;  }
.pa-s { padding: 0.25rem !important; }
.pa-m { padding: 0.25rem !important; }
.pa-l { padding: 1rem !important; }

.mr-s { margin-right: 0.25rem !important;  }
.mr-m { margin-right: 0.25rem !important;  }
.mr-l { margin-right: 1rem !important;  }
.mb-s { margin-bottom: 0.25rem !important;  }
.mb-m { margin-bottom: 0.25rem !important;  }
.mb-l { margin-bottom: 1rem !important;  }
